[submodule "third_party/sglang-blocksparse"]
	path = third_party/sglang-blocksparse
	url = https://github.com/rayleizhu/sglang.git
	ignore = dirty
[submodule "third_party/gorilla"]
	path = third_party/gorilla
	url = https://github.com/ShishirPatil/gorilla.git
	ignore = dirty
[submodule "third_party/vitabench"]
	path = third_party/vitabench
	url = https://github.com/meituan-longcat/vitabench.git
	ignore = dirty
